parameters:
	ignoreErrors:
		-
			message: '#^Method CleatSquad\\LlmRouter\\Driver\\KimiDriver\:\:stream\(\) with return type void returns array\<int, array\<string, array\<string, string\>\|string\>\>\|null but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Driver/KimiDriver.php

		-
			message: '#^Return type \(Generator\<int, string, mixed, void\>\) of method CleatSquad\\LlmRouter\\Driver\\KimiDriver\:\:stream\(\) should be compatible with return type \(Generator\<int, string, mixed, array\<int, array\{id\: string, type\: string, function\: array\{name\: string, arguments\: string\}\}\>\|null\>\) of method CleatSquad\\LlmRouter\\Contract\\Driver\\LLMDriverInterface\:\:stream\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/Driver/KimiDriver.php

		-
			message: '#^Method CleatSquad\\LlmRouter\\Driver\\OllamaDriver\:\:stream\(\) should return null but empty return statement found\.$#'
			identifier: return.empty
			count: 1
			path: src/Driver/OllamaDriver.php

		-
			message: '#^Method CleatSquad\\LlmRouter\\Driver\\OllamaDriver\:\:stream\(\) should return null but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Driver/OllamaDriver.php

		-
			message: '#^Method CleatSquad\\LlmRouter\\Driver\\OpenAiDriver\:\:stream\(\) with return type void returns array\<int, array\<string, array\<string, string\>\|string\>\>\|null but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Driver/OpenAiDriver.php

		-
			message: '#^Return type \(Generator\<int, string, mixed, void\>\) of method CleatSquad\\LlmRouter\\Driver\\OpenAiDriver\:\:stream\(\) should be compatible with return type \(Generator\<int, string, mixed, array\<int, array\{id\: string, type\: string, function\: array\{name\: string, arguments\: string\}\}\>\|null\>\) of method CleatSquad\\LlmRouter\\Contract\\Driver\\LLMDriverInterface\:\:stream\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/Driver/OpenAiDriver.php
